
<div class="md:container md:mx-auto">
    <!-- Flex container -->
    <div class="flex items-center justify-center bg-clr_primary p-3 md:justify-between md:px-16 md:bg-clr_header_bg">
        <!-- Top message item 1 -->
        <div>
            <p class="font-bold text-sm uppercase text-white md:text-black">
                Stort udvalg af danmarks 
                <span class="text-clr_primary_variaton font-black">favoritmærker</span>
            </p>
        </div>
        <div class="hidden md:block">
            <p class="font-bold text-sm uppercase">
                Stort udvalg af danmarks 
                <span class="text-clr_primary_variaton font-black">favoritmærker</span>
            </p>
        </div>
        <div class="hidden md:block">
            <p class="font-bold text-sm uppercase">
                Stort udvalg af danmarks 
                <span class="text-clr_primary_variaton font-black">favoritmærker</span>
            </p>
        </div>
    </div>
</div>

<!-- Navbar -->
<nav class="relative container mx-auto">
    <!-- Flex container -->
    <div class="flex items-center justify-between px-6 md:px-16 md:p-4">
        <div class="hidden space-x-6 md:flex md:flex-row">
            <div class="group">
                <a href="#" class="text-regular uppercase hover:font-bold">Nyheder</a>
                <div class="hidden group-hover:flex flex-col absolute left-0 p-10 w-full bg-clr_dropdown text-black duration-300">
                    <div class="grid grid-cols-2 gap-5 md:grid-cols-4">
                        <div class="flex flex-col">
                            <h4 class="uppercase mb-4 text-base text-white font-bold">Category 1</h4>
                            <a href="#" class="hover:underline text-white text-regular">Accessories</a>
                        </div>
                        <div class="flex flex-col">
                            <h4 class="uppercase mb-4 text-base text-white font-bold">Category 2</h4>
                            <a href="#" class="hover:underline text-white text-regular">Accessories</a>
                        </div>
                        <div class="flex flex-col">
                            <h4 class="uppercase mb-4 text-base text-white font-bold">Category 3</h4>
                            <a href="#" class="hover:underline text-white text-regular">Accessories</a>
                        </div>
                        <div class="flex flex-col">
                            <h4 class="uppercase mb-4 text-base text-white font-bold">Category 4</h4>
                            <a href="#" class="hover:underline text-white text-regular">Accessories</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group">
                <a href="#" class="text-regular uppercase hover:font-bold">UDSALG</a>
                <div class="hidden group-hover:flex flex-col absolute left-0 p-10 w-full bg-clr_dropdown text-black duration-300">
                    <div class="grid grid-cols-2 gap-5 md:grid-cols-4">
                        <div class="flex flex-col">
                            <h4 class="uppercase mb-4 text-base text-white font-bold">Category 1</h4>
                            <a href="#" class="hover:underline text-white text-regular">Accessories</a>
                        </div>
                        <div class="flex flex-col">
                            <h4 class="uppercase mb-4 text-base text-white font-bold">Category 2</h4>
                            <a href="#" class="hover:underline text-white text-regular">Accessories</a>
                        </div>
                        <div class="flex flex-col">
                            <h4 class="uppercase mb-4 text-base text-white font-bold">Category 3</h4>
                            <a href="#" class="hover:underline text-white text-regular">Accessories</a>
                        </div>
                        <div class="flex flex-col">
                            <h4 class="uppercase mb-4 text-base text-white font-bold">Category 4</h4>
                            <a href="#" class="hover:underline text-white text-regular">Accessories</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a href="#" class="text-regular uppercase hover:font-bold">UDSALG</a>
            <a href="#" class="text-regular uppercase hover:font-bold">TØJ & SKO</a>
            <a href="#" class="text-regular uppercase hover:font-bold">LEGETØJ</a>
            <a href="#" class="text-regular uppercase hover:font-bold">UDSTYR</a> -->
        </div>
        <div id="menu-btn" class="md:hidden">
            {% render 'icon-hamburger' %}
        </div>
        <div class="md:hidden">
            {% render 'icon-heart' %}
        </div>
        <!-- Logo -->
        <div>
            <h4>Olila</h4>
        </div>

        <!-- Right icons -->
        <div class="flex items-center justify-around md:justify-between space-x-8 p-3">
            <div class="hidden md:block">
                {% render 'icon-user' %}
            </div>
            <div class="hidden md:block">
                {% render 'icon-heart' %}
            </div>
            <div>
                {% render 'icon-cart' %}
            </div>
            <div class="md:hidden">
                {% render 'icon-search' %}
            </div>
        </div>
    </div>

        <!-- Hamburger Icon-->
        <!-- <button id="menu-btn" class="block hamburger md:hidden 
        focus:outline-none">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
        </div> -->

        <!-- Mobile menu -->
        <div class="md:hidden">
            <div id="menu" 
                class="z-10 absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 
                font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
                <div class="group flex flex-col items-center">
                    <button class="mobile-link text-xl uppercase hover:font-bold hover:text-clr_primary_variaton">UDSALG</button>
                    <div class="hidden mobile-link-block flex-col items-center space-y-3 my-2 ">
                        <a href="#" class="hover:text-clr_primary_variaton text-base">Accessories</a>
                        <a href="#" class="hover:text-clr_primary_variaton text-base">Accessories</a>
                        <a href="#" class="hover:text-clr_primary_variaton text-base">Accessories</a>
                        <a href="#" class="hover:text-clr_primary_variaton text-base">Accessories</a>
                        <a href="#" class="hover:text-clr_primary_variaton text-base">Accessories</a>
                    </div>
                </div>
                <div class="group flex flex-col items-center">
                    <button class=" mobile-link text-xl uppercase hover:font-bold hover:text-clr_primary_variaton">UDSALG</button>
                    <div class="hidden mobile-link-block flex-col items-center space-y-3 my-2 ">
                        <a href="#" class="hover:text-clr_primary_variaton text-base">Accessories</a>
                        <a href="#" class="hover:text-clr_primary_variaton text-base">Accessories</a>
                        <a href="#" class="hover:text-clr_primary_variaton text-base">Accessories</a>
                        <a href="#" class="hover:text-clr_primary_variaton text-base">Accessories</a>
                        <a href="#" class="hover:text-clr_primary_variaton text-base">Accessories</a>
                    </div>
                </div>
                <a href="#" class="text-xl uppercase hover:font-bold hover:text-clr_primary_variaton">TØJ & SKO</a>
                <a href="#" class="text-xl uppercase hover:font-bold hover:text-clr_primary_variaton">LEGETØJ</a>
                <a href="#" class="text-xl uppercase hover:font-bold hover:text-clr_primary_variaton">UDSTYR</a>
            </div>
        </div>
</nav>

<script>
const btn = document.getElementById('menu-btn')
const nav = document.getElementById('menu')

btn.addEventListener('click', ()=>{
    btn.classList.toggle('open')
    nav.classList.toggle('flex')
    nav.classList.toggle('hidden')
})

// const dropbtn = document.getElementById('dropdown-btn')
// const mblMenu = document.getElementById('dropdown-mbl')

// dropbtn.addEventListener('click', () => {
//     console.log('Hello')
//     mblMenu.classList.toggle('hidden')
//     mblMenu.classList.toggle('flex')
//     mblMenu.classList.toggle('block')
// })

const test = document.getElementsByClassName('mobile-link')

for (let i = 0; i< test.length; i++){
    test[i].addEventListener("click", function(event){
        const mblMenu = event.target.parentNode.querySelector('.mobile-link-block')
        console.log(mblMenu)
        mblMenu.classList.toggle('hidden')
        mblMenu.classList.toggle('flex')
    })
}
</script>